body{
    font-family: 'Lato', sans-serif;
}
.container{
    width:1250px;
    background-color: white;
    margin:auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

  
.box0 {
    width:40%;
    padding-left: 15px;
    border:2px solid rgb(194, 194, 194);
    margin-top:150px;
    margin-bottom:150px;
    margin-left:15px;
    border-radius: 10px;
}
.box0 .box1{
    width:40%;
    padding-top:2px;
    padding-left:15px;
}
.box1 .img{
    width:100%;
}